.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-gray);
  --bs-btn-border-color: var(--bs-gray);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #adb5bd;
  --bs-btn-hover-border-color: #adb5bd;
  --bs-btn-focus-shadow-rgb: var(--bs-gray-dark);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #343a40;
  --bs-btn-active-border-color: #343a40;
}

.bd-mode-toggle {
  z-index: 1500;
}